APP_PORT=

APP_ENV=

BASE_API_URL=
APP_BASE_URL=
CONNECTION_TIMEOUT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_LOG=

JWT_SECRET=
REF_JWT_SECRET=
JWT_EXP_TIME=
REF_JWT_EXP_TIME=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

REDIS_EXP_TIME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

RATE_LIMIT_DURATION=
RATE_LIMIT_MAX_REQUESTS=

ENCRYPTION_ALGORITHM=
ENCRYPTION_ENABLED=
ENCRYPTION_KEY_LENGTH=
ENCRYPTION_IV_LENGTH=
ENCRYPTION_PASSWORD=
ENCRYPTION_SALT=

OTP_EXPIRATION=

GOOGLE_CLIENT_ID=
GOOGLE_PROJECT_NAME=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
auth_provider_x509_cert_url=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
javascript_origins=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=