DOMAIN_VAR=hello_from_merchant

# Support Contact Information
SUPPORT_EMAIL=support@meditechhealth.ng
SUPPORT_PHONE=+2348051114444
SUPPORT_ADDRESS=14 Haruna Ishola Street, Lagos. Nigeria

# JWT Refresh Token Configuration
JWT_REFRESH_SECRET=your-refresh-token-secret-here
JWT_REFRESH_EXPIRES_IN=30d